* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

#flags {
    width: 100vw;
    height: 300px;
    background: rgb(255, 0, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.bg-white {
    background-color: white;
}

.flag {
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#japan {
    width: 60px;
    height: 60px;
    background-color: red;
    border-radius: 50%;
}

#bar-red{
    width: 40px;
    height: 100%;
    background-color: rgb(255,0,0,0.911);
}

#bar-green{
    width: 40px;
    height: 100%;
    background-color: rgb(40, 143, 0,0.911);
}
#bar-white{
    width: 40px;
    height: 100%;
    background-color: rgb(255, 255, 255,0.911);
}

#bar-blue{
    width: 40px;
    height: 100%;
    background-color: rgba(18, 18, 223, 0.911);
}

#bar-black{
    width: 40px;
    height: 100%;
    background-color: rgb(0, 0, 0,0.911);
}


#bar-yellow{
    width: 40px;
    height: 100%;
    background-color: rgba(252, 252, 49, 0.911);
}

.flag-horizontal{
    display: flex;
    flex-direction: column;
}

#bar-black-horizontal{
    width: 100%;
    height: 40px;
    background-color: rgb(0, 0, 0,0.911);
}


#bar-yellow-horizontal{
    width: 100%;
    height: 40px;
    background-color: rgba(252, 252, 49, 0.911);
}

#bar-red-horizontal{
    width: 100%;
    height: 40px;
    background-color: rgb(255,0,0,0.911);
}