* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

#flags {
    width: 100vw;
    height: 300px;
    background: rgb(255, 106, 7);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.bg-color-white {
    background-color: rgb(255, 255, 255, 0.911);
}

.bg-color-red {
    background-color: rgb(255, 0, 0, 0.911);
}

.bg-color-green {
    background-color: rgb(40, 143, 0, 0.911);
}

.bg-color-blue {
    background-color: rgba(18, 18, 223, 0.911);
}

.bg-color-black {
    background-color: rgb(0, 0, 0, 0.911);
}

.bg-color-yellow {
    background-color: rgba(252, 252, 49, 0.911);
}

.flag {
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flag-horizontal {
    flex-direction: column;
}

.circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.bar-vertical {
    width: 40px;
    height: 100%;
}

.bar-horizontal {
    width: 100%;
    height: 40px;
}

.envolve-flag{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}